namespace {{apiNamespace}};

{{#operations}}
internal static class {{classname}}Paths
{
    {{#operation}}
    public const string {{operationIdCamelCase}} = "{{path}}";
    {{/operation}}
}
{{/operations}}
